/* GLOBALS */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

html {
    font-family: 'Questrial', sans-serif;
}

.container {
    max-width: 1370px;
    margin: 0 auto;
    padding: 10px 20px;
}

input {
    font: inherit;
}

h1 {
    font-size: 34px;
    font-weight: bold;
}

button {
    font: inherit;
    width: 115px;
    font-size: 12px;
    padding: 8px 0;
    border-radius: 5px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}
