/* GLOBALS */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

html {
    font-family: 'Questrial', sans-serif;
}

.container {
    max-width: 1370px;
    margin: 0 auto;
    padding: 10px 20px;
}

input {
    font: inherit;
}

h1 {
    font-size: 34px;
    font-weight: bold;
}

button {
    font: inherit;
    width: 115px;
    font-size: 12px;
    padding: 8px 0;
    border-radius: 5px;
}

/* HEADER */
header .container {
    display: flex;
    align-items: center;
    gap: 70px;
}

header img {
    height: 35px;
}

header .search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

    flex: 1 0 auto;

    .magnifying-glass {
        color: #bbbbbb;
        font-size: 20px;
        stroke-width: 1.5;
    }

    input {
        width: 100%;
        border: none;
        padding: 10px;
    }

    input::placeholder {
        color: #bbb;
    }

    input:focus {
        outline: none;
    }
}

header .auth-buttons {
    display: flex;
    align-items: center;
    gap: 20px;

    button {
        border: 1px solid #2cb1ba;
        color: #2cb1ba;
        background-color: #fff;
    }
}

header button {
    border: 1px solid #2cb1ba;
    color: #fff;
    background-color: #2cb1ba;
}

/* HOME */
.hero {
    background-image: url('./assets/hero.jpg');
    height: 455px;
    width: 100vw;
    background-position: center;
    background-size: cover;

    .container {
        position: relative;
    }

    .highlight {
        position: absolute;
        top: 75px;
        width: 410px;
        height: 270px;
        border: 1px solid #bbb;
        background-color: #fff;
        border-radius: 5px;
        padding: 25px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        button {
            border: 1px solid #2cb1ba;
            color: #fff;
            background-color: #2cb1ba;
            font-size: 16px;
            width: 185px;
            padding: 15px 0;
        }
    }
}
